<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spygame</title>
    <link rel="stylesheet" href="{% static 'css/gamestyle.css' %}"/>
</head>
<body>
    {% block main %}
    {% endblock %}
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    var test = jQuery.parseJSON("{{ card|escapejs }}");
    console.log(test);
    console.log(test.length);
</script>
<script type="text/javascript" src="{% static 'js/print_board.js' %}"></script>
</html>