<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--<link rel="stylesheet" href="{% static 'css/homepgstyle.css' %}"/>-->
    <link rel="stylesheet" href="../static/css/homepgstyle.css" />
</head>
<body>
    <main>
        <section class="getcode">
            <a href="pickSpyOrSpymaster.html"><button> Create game
                </button></a>
        </section>

        <section class="inputcode">
            <!--<h1>Join game</h1>
            <input type="text" name="name" placeholder="Code" required/>

            <input type="submit" name="submit" value="post"/>  -->
        </section>
    </main>
</body>
</html>