<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--<link rel="stylesheet" href="{% static 'css/homepgstyle.css' %}"/>-->
    <link rel="stylesheet" href="../static/css/homepgstyle.css" />
</head>
<body>
    <main>
        <section class="getcode">
            <h1>Create game</h1>
            <form action="spy_or_spymaster" method="get">
                <input type="submit" name="click" value="Get code">
            </form>
        </section>

        <section class="inputcode">
            <h1>Join game</h1>
            <form action="join_or_create" method="post" id="join_game">{% csrf_token %}
                <input type="text" name="game_code" placeholder="Code" required/>
                <input type="submit" value="Join"/> 
            </form>
        </section>
    </main>
</body>
</html>