<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spygame</title>
    <link rel="stylesheet" href="../static/css/gamestyle.css" />
</head>
<body>
    <main>
        <section id="boardwrapper" class="boardwrapper">
        </section>
        <div>
            <section>
                <h3>Blue team</h3>
                <ul>
                    <li class="bspymaster">Test</li>
                    <!-- This is were we'll dynamically load all blue team members onto the page-->
                    <li>Test</li>
                </ul>
            </section>
                <section>
                    <h3>Red team</h3>
                    <ul>
                        <li class="rspymaster">Test</li>
                        <!-- This is were we'll dynamically load all red team members onto the page-->
                        <li>Test</li>
                    </ul>
                </section>
        </div>
            <p>Please click on your clue team blue!</p>
            <section class="footerwrapper">
                <p class="clue">Test</p>
                <p>1</p>
            </section>
    </main>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/print_board.js">
</script>

</html>