{% extends 'base.html' %}
{% block main %}

    <main>
        <section id="boardwrapper" class="table">
        </section>

        {% if player_type == "spymaster" %}
            <p>Please enter your clue team blue!</p>
            <section class="footerwrapper">
                <p class="clue">Test spymaster</p>
                <p>1</p>
            </section>
        {% endif %}
        {% if player_type == "spy" %}
            <p>Please click on your clue team blue!</p>
            <section class="footerwrapper">
            <p class="clue">Test spy</p>
            <p>5</p>
            </section>
        {% endif %}
        {% if player_type == "" %}
        <p>Please click on your clue team blue!</p>
            <section class="footerwrapper">
                <p class="clue">Test</p>
                <p>2</p>
            </section>
        {% endif %}
    </main>
{% endblock %}