<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spygame</title>
    <link rel="stylesheet" href="../static/css/gamestyle.css" />
</head>
<body>
    <main>
        <section>
            <ul>
            <!-- This is were we'll dynamically load all cards onto the page-->
            </ul>
        </section>
        <section>
            <!--<p class="">Please put in your clue team blue!</p>-->
            <!--<input class="" type="text" name="clue" placeholder="Clue" >-->
            <!--<input type="submit" name="submit" value="post"/> -->
        </section>
    </main>
    <!--<section class="rule">-->
        <!--yo sup-->
    <!--</section>-->
</body>
<script type="text/javascript" src="../static/js/print_board.js">
</script>
</html>