{% extends 'base.html' %}
{% block main %}
<main>
    <section id="boardwrapper" class="boardwrapper">
    </section>
    <div>
        <section class="bwrapper">
            <h3>Blue team</h3>
            <ul>
                <li class="bspymaster">Test</li>
                <!-- This is were we'll dynamically load all blue team members onto the page-->
                <li>Test</li>
            </ul>
        </section>
        <section class="rwrapper">
            <h3>Red team</h3>
            <ul>
                <li class="rspymaster">Test</li>
                <!-- This is were we'll dynamically load all red team members onto the page-->
                <li>Test</li>
            </ul>
        </section>
    </div>
        <p>Please click on your clue team blue!</p>
        <section class="footerwrapper">
            <input class="clue" type="text" name="clue" placeholder="clue" required/> 
            <input type="text" name="num" placeholder="number" required/> 

            <input class="startgame" type="submit" name="submit" value="Start game"/>
        </section>
</main>
{% endblock %}