@import url(https://fonts.googleapis.com/css?family=Raleway);

.growon  {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-image: url("../img/test.png");
    background-repeat: no-repeat;
    background-size: 100% 102%;
    color: aliceblue;
    background-attachment: fixed;
    background-position: bottom;
}

main {
    margin: 7% 18%;
    border-radius: 2px;
    background-color:rgba(102,178,153,0.2);
    padding: 20px;
    height: 550px;
    box-shadow: #002 11px 12px 11px;
}

input {
    font-size: 16px;
    padding: 7px;
    color: #000022;
    background-color: #fff;
    border: hidden;
}

li {
    list-style: none;
}

.rspymaster {

}

.bspymaster {

}

ul {
    padding: 0;
}

.wrapper>li {
    display: inline-block;
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: bisque;
}

td {
    color: #000;
    background-color: beige;
    padding: 33px 47px;
}

.boardwrapper {
    display: inline-block;
}

div {
    display: inline-block;
    padding: 44px;
    vertical-align: top;
}

/*.rule {*/
    /*background-color: #404040;*/
    /*width: 50px;*/
    /*padding: 200px 200px;*/
    /*position: fixed;*/
    /*left: -412px;*/
    /*top: 179px;*/
/*}*/

.bspymaster {
    color: #66B2FF;
}

.rspymaster {
    color: #FF6666;
}

.footerwrapper>p{
    display: inline-block;
    font-size: 30px;
    margin: 0 18px 0 0;
}

.clue {
    margin: 0 18px 0 0;
}
