<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" href="../static/css/pickteamstyle.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
</head>
<body>
    <main>
        <section class="getcode">
            <h1>Create game</h1>
            <input type="button" name="click" value="Get code">
        </section>

        <section class="inputcode">
            <h1>Join game</h1>
            <input type="text" name="name" placeholder="Code" required/>

            <input type="submit" name="submit" value="post"/> 
        </section>
    </main>
</body>
</html>