<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pick team</title>
</head>
<body>
    <section class="usernameinput"> 
        <h1>Pick a team</h1>
        <p>Please put in your username and pick one of the teams below</p>
         <label for="name">name</label> 
        <input type="text" name="name" placeholder="username" required/> 
    </section>

    <section class="redteamlist">
        <input type="submit" name="submit" value="Join Red team"/> 
        <ul>
            <li class="spymasterred"></li>
        </ul>
    </section>

    <section class="blueteamlist">
        <input type="submit" name="submit" value="Join Blue team"/> 
        <ul>
            <li class="spymasterblue"></li>
        </ul>
    </section>
    <input type="submit" name="submit" value="Start game"/>
</body>
</html>