<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spygame</title>
    <link rel="stylesheet" href="../static/css/gamestyle.css" />
</head>
<body>
    <main>
        <section>
            <ul class="cardwrapper">
                <!-- This is were we'll dynamically load all cards onto the page-->
            </ul>
        </section>
        <section>
            <!--<p class="">Please click on your clue team blue!</p>-->
            <p class="clue"></p>
        </section>
    </main>
</body>
</html>