<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spygame</title>
    <link rel="stylesheet" href="../static/css/gamestyle.css" />
</head>
<body>
    <main>
        <section class="boardwrapper">

        </section>
        <div>
            <section>
                <h3>Blue team</h3>
                <ul>
                    <li class="bspymaster"></li>
                    <!-- This is were we'll dynamically load all blue team members onto the page-->
                </ul>
            </section>
                <section>
                    <h3>Red team</h3>
                    <ul>
                        <li class="rspymaster"></li>
                        <!-- This is were we'll dynamically load all red team members onto the page-->
                    </ul>
                </section>
        </div>
            <section>
                <!--<p class="">Please click on your clue team blue!</p>-->
                <p class="clue"></p>
            </section>
    </main>
</body>
</html>